<div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAddressModalLabel">ویرایش آدرس</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <div class="text-sm text-muted mb-1">نام و نام خانوادگی:</div>
                            <div class="text-dark font-weight-bold">
                                <div class="form-element-row mb-0">
                                    <input type="text" class="input-element" value="جلال بهرامی راد">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="text-sm text-muted mb-1">شماره موبایل:</div>
                            <div class="text-dark font-weight-bold">
                                <div class="form-element-row mb-0">
                                    <input type="text" class="input-element dir-ltr" value="090********">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="text-sm text-muted mb-1">استان:</div>
                            <div class="text-dark font-weight-bold">
                                <div class="form-element-row mb-0">
                                    <select name="" id="" class="select2">
                                        <option value="0">انتخاب استان</option>
                                        <option value="1">خراسان شمالی</option>
                                        <option value="2">تهران</option>
                                        <option value="3">تبریز</option>
                                        <option value="4">شیراز</option>
                                        <option value="5">کرمان</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div class="text-sm text-muted mb-1">شهر:</div>
                            <div class="text-dark font-weight-bold">
                                <div class="form-element-row mb-0">
                                    <select name="" id="" class="select2">
                                        <option value="0">انتخاب شهر</option>
                                        <option value="1">بجنورد</option>
                                        <option value="2">شیروان</option>
                                        <option value="3">اسفراین</option>
                                        <option value="4">مانه و سملقان</option>
                                        <option value="5">راز و جرگلان</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="text-sm text-muted mb-1">آدرس کامل:</div>
                            <div class="text-dark font-weight-bold">
                                <div class="form-element-row mb-0">
                                    <textarea name="address" id="address" cols="30" rows="10"
                                              class="input-element"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    ذخیره تغییرات <i class="fad fa-money-check-edit"></i>
                </button>
            </div>
        </div>
    </div>
</div>